@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oswald:wght@400;700&display=swap');


body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}

/* DEFINE LARGURA PADRÃO COM CONTEÚDO CENTRALIZADO */
.container {
    max-width: 1140px;
    margin: auto;
}


/* ITEM DE INTERFACE GERAL - BAR (ÁREA 1)*/
.bar {
    background-color: #006341;
    width: 168px;
    height: 22px;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 90px;
    line-height: 100px;

    margin: 0;
    margin-bottom: 60px;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 35px;
    line-height: 45px;
    margin: 0;
    margin: 20px 0;

}

.button {
    display: inline-block;
    border: 2px solid #454545;
    padding: 10px 30px;
    border-radius: 3px;
    color: #454545;
    text-decoration: none;
}

.button:hover {
    background-color: #454545;
    color: #fff;
}



/* HEADER */

/* Linha no topo do site */
header .line {
    background-color: #117050;
    height: 10px;
}

.header-area {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100px;

}

.header-left img {
    width: 64px;
    height: 64px;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-search form {
    display: flex;
}

.header-search input {
    font-size: 16px;
    padding: 8px 13px;
    border: 1px solid #999;

    /* REMOVE BORDA NO FOCUS */
    outline: 0;

    width: 100%;
    max-width: 250px;
}

.header-search button {
    border: 0;
    background-color: transparent;

    /* COLOCA A LUPA DENTRO DO INPUT */
    margin-left: -30px;
    cursor: pointer;
}

.header-search button img {
    width: 16px;
    height: 16px;
}

.header-menu {
    margin-left: 50px;
    cursor: pointer;
}

.header-menu img {
    width: 24px;
    height: 24px;
}


/* ÁREA BANNER */
.banner {
    background-image: url('../images/bg.jpg');
    background-position: center;
    background-size: cover;

    padding: 90px 0;
}


.banner-images {
    margin-top: 60px;
}

.banner-images img {
    width: 148px;
    height: 148px;
    border: 6px solid #117050;
    border-radius: 50%;
    margin-right: 40px;
}


/* ÁREA 1 */

.area1 {
    display: grid;
    /* DIVISÃO COM TAMANHOS IGUAIS */
    grid-template-columns: repeat(2, 1fr);
}

.area1-content {
    padding: 80px;
}


.area1-quote {
    margin-bottom: 30px;
}


.area1-text {
    margin-bottom: 50px;
    line-height: 25px;
}


.area1-img1 {
    height: 350px;

    /* IMG COMO BG AJUDA AO TRABALHAR COM A RESPONSIVIDADE */
    background-image: url('../images/f2.jpg');
    background-size: cover;
    background-position: center;
}

/* A ALTURA DESTA IMAGEM DEPENDO DO TAMANHO DO CONTEÚDO */
.area1-img2 {
    /* COMEÇA NA PRIMEIRA LINHA, SEGUNDA COLUNA E TERMINA NA ÚLTIMA LINHA DA MESMA COLUNA */
    grid-column: 2 / 3;
    grid-row: 1 / 3;

    /* IMG COMO BG AJUDA AO TRABALHAR COM A RESPONSIVIDADE */
    background-image: url('../images/f1.jpg');
    background-size: cover;
    background-position: center;
}



/* ÁREA 2 */

.area2 {
    display: grid;
    /* DIVISÃO COM TAMANHOS IGUAIS */
    grid-template-columns: repeat(2, 1fr);
}

.area2-content {
    padding: 80px;
}

.area2-text {
    margin-bottom: 50px;
    line-height: 25px;
}


.area2-img1 {
    height: 450px;


    /* IMG COMO BG AJUDA AO TRABALHAR COM A RESPONSIVIDADE */
    background-image: url('../images/f4.jpg');
    background-size: cover;
    background-position: center;
}

/* A ALTURA DESTA IMAGEM DEPENDO DO TAMANHO DO CONTEÚDO */
.area2-img2 {
    /* COMEÇA NA PRIMEIRA LINHA, SEGUNDA COLUNA E TERMINA NA ÚLTIMA LINHA DA MESMA COLUNA */
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    /* IMG COMO BG AJUDA AO TRABALHAR COM A RESPONSIVIDADE */
    background-image: url('../images/f3.jpg');
    background-size: cover;
    background-position: center;
}


/* ÁREA 3 */

.area3 {
    display: grid;
    /* DIVISÃO COM TAMANHOS IGUAIS */
    grid-template-columns: repeat(2, 1fr);
}

.area3-content {
    padding: 200px 80px;

    /* IMG COMO BG AJUDA AO TRABALHAR COM A RESPONSIVIDADE */
    background-image: url('../images/bg2.jpg');
    background-size: cover;
    /* POSITION QUE FOCA NO LOGO */
    background-position: left;
}

.area3-text {
    margin-bottom: 50px;
    line-height: 25px;
}


.area3-img1 {
    /* IMG COMO BG AJUDA AO TRABALHAR COM A RESPONSIVIDADE */
    background-image: url('../images/f5.jpg');
    background-size: cover;
    background-position: center;
}



/* ÁREA 4 */

.area4 {
    display: grid;
    /* 1 COLUNA COM TAMANHO FIXO E OUTRA COM O RESTANTE DO ESPAÇO DISPONÍVEL */
    grid-template-columns: 450px 1fr;

    background-color: #E8E9EE;
}

.area4-content {
    padding: 150px 80px;

}

.area4-text {
    margin-bottom: 50px;
    line-height: 25px;
}


.area4-img1 {
    background-image: url('../images/bg3.jpg');
    background-position: left;
}

/* ÁREA 5 */
.area5 {
    height: 600px;
    background-image: url('../images/bg4.jpg');
    background-size: cover;
    background-position: center;
}

/* RODAPÉ */

footer {
    background-color: #333;
    color: #fff;
    padding: 80px;
    text-align: center;
}

footer a {
    color: #fff;
    padding: 2px;
    transition: all 0.5s;
}

footer a:hover {

    background-color: #fff;
    color: #117050;
    font-weight: bold;
    border-radius: 5px;

}


/* RESPONSIVIDADE */

@media (min-width: 769px) and (max-width: 1140px) {

    /* DÁ UM "RESPIRO" NAS LATERAIS */
    .container {
        padding: 0 20px;
    }


}

/* TABLET */
@media (min-width: 426px) and (max-width: 768px) {

    /* DÁ UM "RESPIRO" NAS LATERAIS */
    .container {
        padding: 0 20px;
    }


    /* AJUSTES NA PROPORÇÃO DAS COLUNAS - GRID */
    .area1 {
        grid-template-columns: 3fr 2fr;
    }

    .area1 {
        grid-template-columns: 2fr 3fr;
    }

    .area3 {
        grid-template-columns: 3fr 2fr;
    }


}

/* CELULARES */
@media (max-width: 425px) {

    /* DÁ UM "RESPIRO" NAS LATERAIS */
    .container {
        padding: 0 20px;
    }

    .header-menu {
        margin-left: 20px;
    }


    .header-search input {
        max-width: 100px;
    }


    h1 {
        font-size: 50px;
        line-height: 50px;
    }

    h2 {
        font-size: 25px;
        line-height: 30px;
    }


    .banner-images img {
        width: 70px;
        height: 70px;
        border: 3px solid #117050;
        border-radius: 50%;
        margin-right: 10px;
    }


    /* APENAS 1 COLUNA */
    .area1, .area2, .area3, .area4 {
        grid-template-columns: 1fr;
    }

    .area1-content, .area2-content, .area3-content, .area4-content {
        padding: 40px;
    }

    .area5 {
        height: 200px;
    }


    footer {
        font-size: 12px;
        padding: 40px 20px;
        text-align: center;
    }
    
    footer a {
        padding: 2px;

    }
    
    footer a:hover {
        border-radius: 5px;
    
    }



}