@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oswald:wght@400;700&display=swap');


body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}

/* DEFINE LARGURA PADRÃO COM CONTEÚDO CENTRALIZADO */
.container {
    max-width: 1140px;
    margin: auto;
}


/* ITEM DE INTERFACE GERAL - BAR (ÁREA 1)*/
.bar {
    background-color: #006341;
    width: 168px;
    height: 22px;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 90px;
    line-height: 100px;

    margin: 0;
    margin-bottom: 60px;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 35px;
    line-height: 45px;
    margin: 0;
    margin: 20px 0;

}

.button {
    display: inline-block;
    border: 2px solid #454545;
    padding: 10px 30px;
    border-radius: 3px;
    color: #454545;
    text-decoration: none;
}

.button:hover {
    background-color: #454545;
    color: #fff;
}



/* HEADER */

/* Linha no topo do site */
header .line {
    background-color: #117050;
    height: 10px;
}

.header-area {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100px;

}

.header-left img {
    width: 64px;
    height: 64px;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-search form {
    display: flex;
}

.header-search input {
    font-size: 16px;
    padding: 8px 13px;
    border: 1px solid #999;

    /* REMOVE BORDA NO FOCUS */
    outline: 0;

    width: 100%;
    max-width: 250px;
}

.header-search button {
    border: 0;
    background-color: transparent;

    /* COLOCA A LUPA DENTRO DO INPUT */
    margin-left: -30px;
    cursor: pointer;
}

.header-search button img {
    width: 16px;
    height: 16px;
}

.header-menu {
    margin-left: 50px;
    cursor: pointer;
}

.header-menu img {
    width: 24px;
    height: 24px;
}


/* ÁREA BANNER */
.banner {
    background-image: url('../images/bg.jpg');
    background-position: center;
    background-size: cover;

    padding: 90px 0;
}


.banner-images {
    margin-top: 60px;
}

.banner-images img {
    width: 148px;
    height: 148px;
    border: 6px solid #117050;
    border-radius: 50%;
    margin-right: 40px;
}


/* ÁREA 1 */

.area1 {
    display: grid;
    /* DIVISÃO COM TAMANHOS IGUAIS */
    grid-template-columns: repeat(2, 1fr);
}

.area1-content {
    padding: 80px;
}


.area1-quote {
    margin-bottom: 30px;
}


.area1-text {
    margin-bottom: 50px;
    line-height: 25px;
}


.area1-img1 {
    height: 350px;

    /* IMG COMO BG AJUDA AO TRABALHAR COM A RESPONSIVIDADE */
    background-image: url('../images/f2.jpg');
    background-size: cover;
    background-position: center;
}

/* A ALTURA DESTA IMAGEM DEPENDO DO TAMANHO DO CONTEÚDO */
.area1-img2 {
    /* COMEÇA NA PRIMEIRA LINHA, SEGUNDA COLUNA E TERMINA NA ÚLTIMA LINHA DA MESMA COLUNA */
    grid-column: 2 / 3;
    grid-row: 1 / 3;

    /* IMG COMO BG AJUDA AO TRABALHAR COM A RESPONSIVIDADE */
    background-image: url('../images/f1.jpg');
    background-size: cover;
    background-position: center;
}



/* ÁREA 2 */

.area2 {
    display: grid;
    /* DIVISÃO COM TAMANHOS IGUAIS */
    grid-template-columns: repeat(2, 1fr);
}

.area2-content {
    padding: 80px;
}

.area2-text {
    margin-bottom: 50px;
    line-height: 25px;
}


.area2-img1 {
    height: 450px;


    /* IMG COMO BG AJUDA AO TRABALHAR COM A RESPONSIVIDADE */
    background-image: url('../images/f4.jpg');
    background-size: cover;
    background-position: center;
}

/* A ALTURA DESTA IMAGEM DEPENDO DO TAMANHO DO CONTEÚDO */
.area2-img2 {
    /* COMEÇA NA PRIMEIRA LINHA, SEGUNDA COLUNA E TERMINA NA ÚLTIMA LINHA DA MESMA COLUNA */
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    /* IMG COMO BG AJUDA AO TRABALHAR COM A RESPONSIVIDADE */
    background-image: url('../images/f3.jpg');
    background-size: cover;
    background-position: center;
}